/*color palette: light green: #34FF52; chartreuse: #95E835; pale gold: #FFF247; 24k: #E8B531; ochre: #FF932E; PT sans; Icons: Boysenberry: #6B2545*/

#container {
    position: static;
    width: 50em;
    margin: auto;
    /*background-color: #E8B531;*/
    border: 1px solid black;
}
    
#header {
    top: 0;
    background-color: #E8B531;
    color: white;
    text-align: left;
    font-size: 3.5em;
    font-family: 'PT sans', sans-serif;
}

#nav {
    position: relative;
    background-color: #95E835;
    font-size: 2em;
}
#section {
    width: 350px;
    float: left;
    padding: 10px;
}
#footer {
    background-color: #FF932E;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
a {
    text-decoration:none;
    color:gray;
    
}
a:hover
{
    color: #6B2545;
}
td {
   width:33%;
   text-align:center; 
}
p {
    font-family: Georgia, Garamond;
}
h1 {
    font-family: Verdana, Garamond;
    margin: 0;
}